html {
    font-size: 15px;
    color: white;
    ..
}

body {
    background-color: blueviolet;
}

#container {
    border: 2px blue solid;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    /*grid-gap: 10px 15px;*/
}

.nav {
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1; */
    grid-area: 1 / 3 / 1 / 1;
}

.footer {
    grid-area: 3 / 3 / 3 / 1;
}

.box {
    border-radius: 5px;
    border: 2px dodgerblue solid;
}